*{
    background-color: rgb(39, 39, 39);
    color: white;
}

#cabecalho{

    background-color: rgb(78, 78, 78);
    height: 55px;
    display: flex;
}

#titulocabecalho{
    margin-top: 10px;
    background-color: rgb(78, 78, 78);
    margin-left: 15px;
}

#botaosair{
    margin-top: 10px;
    position: absolute;
    left: 87%;
    width: 70px;
    height: 30px;
    font-size: larger;

}


#botaoselecoes{
    text-align: center;
    margin-top: 20px;
}
#Masculino{
    width: 100px;
    height: 30px;
}
#Feminino{
    width: 100px;
    height: 30px;
}
#Todos{
    width: 100px;
    height: 30px;
}