*{
    background-color: rgb(39, 39, 39);
    color: white;
}

#cabecalho{

    background-color: rgb(78, 78, 78);
    height: 55px;
    display: flex;
}

#titulocabecalho{
    margin-top: 10px;
    background-color: rgb(78, 78, 78);
    margin-left: 15px;
}

#botaosair{
    margin-top: 10px;
    position: absolute;
    left: 87%;
    width: 70px;
    height: 30px;
    font-size: larger;

}



#botaoselecoes{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
#Masculino{
    width: 100px;
    height: 30px;
}
#Feminino{
    width: 100px;
    height: 30px;
}
#Todos{
    width: 100px;
    height: 30px;
}



#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container_atleta{
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.185);
}

#nome_atleta{
    text-align: center;
    margin: 15px;
    font-size: 19px;
}

#imagens{
    justify-content: center;
}




@media (max-width: 1200px) and (min-width: 1024) {
    #container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    #container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);

    }
    #container_atleta{
        margin: auto;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px){
    #container{
        display: grid;
        grid-template-columns: 1fr; 
          
    }
    #container_atleta{
        margin: auto;
        margin-bottom: 30px;
    }
}